name: Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.20.x, 1.23.x]
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout out code
        uses: actions/checkout@v3
      - name: Linter
        uses: golangci/golangci-lint-action@v3
        with:
          args: --timeout 5m
      - name: Vet & test
        run: |
          # Vet & test
          go vet -v ./...
          go test -v ./...
          go install golang.org/x/lint/golint@latest
          golint -set_exit_status ./...
